.calendar-main{
    padding: 10px;
}
.component-calander-container{
    height: 100% !important;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.calendar-card{
    margin-left: 4vw;
    margin-top: 5vh;
}