.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login  {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
}

.login .textbox {
    margin-top: 0.5em;
}

.login .loginButton  {
    margin-top: 1em;
}

.login p {
    text-align: center;
    font-size: 1.25rem;
}

.login h1{
    font-size: 4.5rem;
}